{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DevBlog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar">
                <h2><a href="{% url 'blog:index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">My Blog</a></h2>
                <h2><a href="{% url 'blog:contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact Us</a></h2>
            </nav>
            
        </header>
        <main>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2023 DevBlog. All rights reserved.</p>
        </footer>
    </div>
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/scripts.js' %}"></script>
</body>
</html>