{% extends "blog/base.html" %}

{% block title %}Contact Us - DevBlog{% endblock %}

{% block content %}
<div class="form-container">
    <form action="{% url 'blog:contact' %}" method="POST">
        {% csrf_token %}
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" class="form-input" />
        <label for="email" class="form-label">Email:</label>
        <input type="text" id="email" name="email" class="form-input" />
        <label for="message" class="form-label">Message:</label>
        <textarea id="message" name="message" class="form-textarea"></textarea>
        <button type="submit" class="form-button">Send</button>    
    </form>
</div>
{% endblock %}