{% extends "blog/base.html" %}
{% load blog_tags %}
{% block content %}
<div class="post-title">
    <h1>{{ post.title }}</h1> 
   </div>
   <!-- Post Headline End -->
    
    
<!-- Post Detail Start -->
<div class="post-info">
    <span>{{ post.created_at|date:"M Y" }} / views: {{ post.counted_views }} / author: {{ post.author.get_full_name }}</span>
   </div>
   <!-- Post Detail End -->
    
    
    <p>{{ post.content }}</p>
    <img class="post-image" src="{{ post.image.url }}" alt="">
    {% if next_post %}
    <div class="next-post">
        <a href="{% url 'blog:post_detail' next_post.id %}">Next post: {{ next_post.title}}</a>
    </div>
    {% endif %}
    {% if prev_post %}
    <div class="prev_post">
        <a href="{% url 'blog:post_detail' prev_post.id %}">Previous post: {{ prev_post.title }}</a>
    </div>
    {% endif %}
    <p>total posts: {% totalposts %}</p>
    
{% endblock %}