{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }} - DevBlog{% endblock %}

{% block content %}
<div class="post-title">
    <h1>{{ post.title }}</h1> 
</div>
<div class="post-info">
    <span>{{ post.created_at|date:"M Y" }} / views: {{ post.counted_views }} / author: {{ post.author.get_full_name }}</span>
</div>
<p>{{ post.content|safe }}</p>
<img class="post-image" src="{{ post.image.url }}" alt="">
<div class="tags">
    <p>Tags:</p>
    <ul>
        {% for tag in post.tags.all %}
        <li><a href="{% url 'blog:tag' tag_name=tag.name %}">{{tag.name}}</a></li>
        {% endfor %}
    </ul>
</div>
{% if next_post %}
<div class="next-post">
    <a href="{% url 'blog:post_detail' next_post.id %}">Next post: {{ next_post.title }}</a>
</div>
{% endif %}
{% if prev_post %}
<div class="prev_post">
    <a href="{% url 'blog:post_detail' prev_post.id %}">Previous post: {{ prev_post.title }}</a>
</div>
{% endif %}
<p>Total posts: {% totalposts %}</p>
{% comment %} <div class="post-comment">
    <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://127-0-0-1-8000-duu0iska1k.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div> {% endcomment %}
{% endblock %}
